<div class="container">
    <div class="page-header">
        <h1>List Books</h1>
    </div>
    <div ng-controller="bookListCtrl">
        <div class="container">
            <div class="row">
                <div ng-repeat="book in books">
                    <div class="col-md-3 book-container">
                        <div class="thumbnail">
                            <img src="{{book.thumbnailUrl}}" alt="{{book.title}}" class="book-thumb">
                            <div class="caption">
                                <h3>{{book.title}}</h3>
                                <p>{{book.author}}</p>
                                <p><a href="#" class="btn btn-primary" role="button" ng-click="edit(book)">Edit</a> <a href="#"
                                        class="btn btn-default" role="button">Remove</a></p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <nav class="book-pagination" aria-label="Page navigation">
                    <ul class="pagination">
                        <li>
                            <a href="#" aria-label="Previous">
                                <span aria-hidden="true">&laquo;</span>
                            </a>
                        </li>
                        <li ng-for="" <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li>
                            <a href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>