<div class="container">
	<div class="page-header">
		<h1>Search engine</h1>
	</div>
	<div class="jumbotron">
		<form>
			<div class="row">
				<div class="form-inline">
					<div class="col-md-6">
						<label for="categories" class="col-md-4">Type</label>
						<input type="text" class="form-control" id="categories" placeholder="Add types" ng-model="type" ng-blur="typeBlur($event)"
							ng-keyup="checkType($event)">
					</div>
					<div class="col-md-6">
						<label><input type="checkbox" ng-model="typeAnd" ng-true-value="true" ng-false-value="false"> AND</label>
						<label><input type="checkbox" ng-model="typeAnd" ng-true-value="false" ng-false-value="true"> OR</label>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="form-inline">
					<div class="col-md-6">
						<label for="categories" class="col-md-4">Category</label>
						<input type="text" class="form-control col-md-8" id="categories" placeholder="Add categories" ng-model="category" ng-blur="categoryBlur($event)"
							ng-keyup="checkCategory($event)">
					</div>
					<div class="form-group col-md-6">
						<label><input type="checkbox" ng-model="categoryAnd" ng-true-value="true" ng-false-value="false"> AND</label>
						<label><input type="checkbox" ng-model="categoryAnd" ng-true-value="false" ng-false-value="true"> OR</label>
					</div>
				</div>
			</div>
			<button type="submit" class="btn btn-default">Search</button>
		</form>
		<div class="row">
			<div class="col-md-6">
				<h5>AND</h5>
				<span class="label label-primary" style="margin-right:5px; display:inline-block" ng-repeat="and in filter.type.and">{{and}}</span>
			</div>
			<div class="col-md-6">
				<h5>OR</h5>
				<span class="label label-primary" style="margin-right:5px; display:inline-block" ng-repeat="or in filter.type.or">{{or}}</span>
			</div>
		</div>
		<div class="row">
			<div class="col-md-6">
				<h5>AND</h5>
				<span class="label label-primary" style="margin-right:5px; display:inline-block" ng-repeat="and in filter.category.and">{{and}}</span>
			</div>
			<div class="col-md-6">
				<h5>OR</h5>
				<span class="label label-primary" style="margin-right:5px; display:inline-block" ng-repeat="or in filter.category.or">{{or}}</span>
			</div>
		</div>
	</div>
	<div class="content">
		<table class="table table-striped table-condensed table-hover">
			<thead>
				<th>Title</th>
				<th>Author</th>
			</thead>
			<tbody>
				<tr ng-repeat="book in books">
					<td>{{book.title}}</td>
					<td>{{book.author}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>