/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

.book-container {
  
}

.thumbnail > img.book-thumb {
  height: 250px;
}

.thumbnail > div > h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.book-pagination {
  text-align: center;
}